/* orange */
a:link, a:visited {
  color: #cd6620;
}

a:hover {
  color: #ac5419;
}

div.module_menu {
  background: url(orange/mw_box_br.png) 100% 100% no-repeat;
}

div.module_menu div {
  background: url(orange/mw_box_bl.png) 0 100% no-repeat;
}

div.module_menu div div {
  background: url(orange/mw_box_tr.png) 100% 0 no-repeat;
}

div.module_menu div div div {
  background: url(orange/mw_box_tl.png) 0 0 no-repeat;
}