/* red */
a:link, a:visited {
  color: #a10f15;
}

a:hover {
  color: #7b0b12;
}

div.module_menu {
  background: url(red/mw_box_br.png) 100% 100% no-repeat;
}

div.module_menu div {
  background: url(red/mw_box_bl.png) 0 100% no-repeat;
}

div.module_menu div div {
  background: url(red/mw_box_tr.png) 100% 0 no-repeat;
}

div.module_menu div div div {
  background: url(red/mw_box_tl.png) 0 0 no-repeat;
}