<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Software, Systems, LAMP development, ssofb, Software Systems Open For Business, Software Systems OFB, software solutions, Open Source, content management, business software, SugarCRM, drupal, web design, aberdeen, software usability, computer software, software design" />
  <meta name="title" content="$WikiTitle | $Title" />
  <meta name="Author" content="Andrew Gaskell, Software Systems Open For Business, ssofb.co.uk" />
  <meta name="description" content="This is a demo site for the Simple Web Publising Soloution from Software Systems Open For Business" />
  <meta name="generator" content="Text editor and PmWiki" />
  <title>$WikiTitle | $Title</title>
  <link rel="icon" href="http://ssofb.co.uk/myicons/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://ssofb.co.uk/myicons/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="$SkinDirUrl/template.css" type="text/css" />
  <link rel="stylesheet" href="$SkinDirUrl/$stylesheet.css" type="text/css" />
  <link rel="stylesheet" href="$SkinDirUrl/$stylesheet_bg.css" type="text/css" />
  <!--[if lte IE 6]>
  <link href="ieonly.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--HTMLHeader-->
</head>
<body id="page_bg" class="width_fmax">
<a name="up" id="up"></a>
<div class="center" align="center">
  <div id="wrapper">
    <div id="wrapper_r">
      <div id="header">
        <div id="header_l">
          <div id="header_r">
            <div id="logo"><a href='{$ScriptUrl}'><img src='$PageLogoUrl' alt='$WikiTitle' border='0' /></a></div>&nbsp;
          </div>
        </div>
      </div>
      <div id="tabarea">
        <div id="tabarea_l">
          <div id="tabarea_r">
            <div id="tabmenu">&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div id="whitebox">
        <div id="whitebox_t">
          <div id="whitebox_tl">
            <div id="whitebox_tr"></div>
          </div>
        </div>
        <div id="whitebox_m">
          <div id="area">
            <div id="leftcolumn">
              <div class="module_menu">
                <div>
                  <div>
                    <div>
                      <h3>Pages</h3>
<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="module_menu">
                <div>
                  <div>
                    <div>
                      <h3>Site Search</h3>
<!--markup:(:searchbox size=18 label=$[Go] focus=true:)-->
                    </div>
                  </div>
                </div>
              </div>
<!--markup:
(:if [ auth edit ] :)
(:div1 class="module_menu":)
(:div2:)
(:div3:)
(:div4:)
!!!Wiki Menu
(:include {$Group}.PageActions {$SiteGroup}.PageActions :)
(:div4end:)
(:div3end:)
(:div2end:)
(:div1end:)
(:ifend:)
-->
            </div>
            <div id="maincolumn">
              <h1>{$Title}</h1>
              <!--PageText-->
            </div>
            <div class="clr"></div>
          </div>
          <div class="clr"></div>
        </div>
        <div id="whitebox_b">
          <div id="whitebox_bl">
            <div id="whitebox_br"></div>
          </div>
        </div>
      </div>
      <div id="footerspacer"></div>
    </div>
    <div id="footer">
      <div id="footer_l">
        <div id="footer_r">
          <p id="syndicate"><a href="http://www.ssofb.co.uk">Site by Software Systems: Open For Business</a>.</p>
          <p id="power_by">valid <a href="http://validator.w3.org/check/referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--HTMLFooter-->

</body>
</html>
